<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">{{descripcion}}</ion-label>
    <ion-input [(ngModel)]="valueInput" *ngIf="insert" placeholder="ingresa un valor...."></ion-input>
    <ion-select [(ngModel)]="selectedId" *ngIf="options.length > 0">
      <ion-select-option *ngFor="let opt of options"
      [value]="opt.key">
      {{ opt.value }}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button expand="full" color="primary" (click)="saveModal()">{{ approveButtonName }}</ion-button>
</ion-content>