<app-header [dynamicClassCategory]="'left-vignette selected'"></app-header>

<ion-header>
  <ion-toolbar>
    <ion-title>Categorias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item lines="none" class="table-header">
        <ion-label>Nombre</ion-label>
      </ion-item>
  
      <ion-item *ngFor="let category of paginatedCategories">
        <ion-label>{{ category.name }}</ion-label>
        <ion-button (click)="deleteCategoryModal(category.id)">Borrar Categoria</ion-button>
      </ion-item>
    </ion-list>
    <div class="pagination-controls">
      <ion-button (click)="prevPage()" [disabled]="currentPage === 1">
        Anterior
      </ion-button>
      <span>Página {{ currentPage }}</span>
      <ion-button (click)="nextPage()" [disabled]="currentPage * pageSize >= categoryList.length">
        Siguiente
      </ion-button>
    </div>
  <ion-button (click)="saveCategoryModal()">Adicionar Categoria</ion-button>
  <p>Maneja tus categorias!</p>
</ion-content>
