<ion-content>
  <ion-title>Tareas</ion-title>
    <!-- Table-like structure using ion-list with custom styling -->
    <ion-list>
      <ion-item lines="none" class="table-header">
        <ion-label>Ejecutada?</ion-label>
        <ion-label>Descripción</ion-label>
        <ion-label>Acciones</ion-label>
      </ion-item>
  
      <ion-item *ngFor="let task of tasksList">
        <ion-checkbox [(ngModel)]="task.isExec" (click)="updateTaskExec(task.id, task.isExec)"></ion-checkbox>
        <ion-label>{{ task.descripcion }}</ion-label>
        <ion-button (click)="deleteTaskModal(task.id)">Borrar Tarea</ion-button>
      </ion-item>
    </ion-list>

  <ion-button (click)="saveTaskModal()">Adicionar Tarea</ion-button>
  <p>Revisa tus tareas diariamente!</p>
</ion-content>
